  .design-container {
    width: 100%;
    padding: 70px 0;
    margin: 0 auto;
  }

  .section-title{
    padding-top: 50px;
    font-size: 2em;
  }
  
  section {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
  }  
  
  .section-2 {
    width: 100%;
    background: var(--main-gradient);
    display: block;
    color: white;
    margin: 0 auto;
  }
  .section-2 h2{
    margin: 30px auto;
    width: 20%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 0;
  }
  .section-2 .content{
    display: flex;
  }
  
  .text-content {
    width: 50%;
    padding-right: 20px;
    text-align: justify;
  }
  .text-content .descrip{
    margin: auto;
    width: 50%;
  }

.descrip p{
    text-align: justify;
}

  .text-content h2{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }
  
  .image-content {
    width: 50%;
  }
  
  .image-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .text-content h2 {
    margin-bottom: 15px;
  }
  
  .section-2 h2 {
    color: white;
  }
  
  .text-content p {
    line-height: 1.5;
  }
  
  .section-2 p {
    color: #eee;
  }
  
  @media (max-width: 768px) {
    .design-container {
      width: 95%;
    }

    .section-2{
        display: flex;
    }

    .section-2 h2{
        width: 75%;
      }
  
    section {
      flex-direction: column;
    }
  
    .text-content {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .image-content {
      width: 100%;
    }
  }