  
  .masMedia-cont {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
  }
  
  .left-side {
    width: 30%;
    padding-right: 20px;
    margin: auto 0;
  }
  
  .right-side {
    width: 70%;
  }
  
  .cmi-button {
    background: linear-gradient(to right, #2caaca, #239090);
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }

  .cmi-button svg {
    margin-left: 10px;
  }
  
  .cmi-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .video-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .video-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .news-text {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
  }
  
  .read-more {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
  }
  
  .read-more:hover {
    color: #0056b3;
  }
  
  .masMedia .right-side a {
    color:black;
    text-decoration: underline;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .container {
      width: 90%;
      flex-direction: column-reverse;
    }
  
    .left-side {
      width: 100%;
      padding-right: 0;
      margin-top: 20px;
      text-align: center;
    }
  
    .right-side {
      width: 100%;
    }
  
    .cmi-button {
      margin: 0 auto;
      padding: 5px 10px;
      margin-bottom: 20px;
    }

    .masMedia-cont{
      flex-direction: column-reverse;
    }
  }