.header{
    position: fixed !important;
}

.bckgrGrad{
    background: rgb(68,189,172);
    background: linear-gradient(90deg, rgba(68,189,172,1) 0%, rgba(0,123,139,1) 33%, rgba(86,79,157,1) 66%, rgba(65,44,109,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(68,189,172,1) 0%, rgba(0,123,139,1) 33%, rgba(86,79,157,1) 66%, rgba(65,44,109,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(68,189,172,1) 0%, rgba(0,123,139,1) 33%, rgba(86,79,157,1) 66%, rgba(65,44,109,1) 100%);
    background: linear-gradient(90deg, rgba(68,189,172,1) 0%, rgba(0,123,139,1) 33%, rgba(86,79,157,1) 66%, rgba(65,44,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#44bdac",endColorstr="#412c6d",GradientType=1);
  }