.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: transparent;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    flex-wrap: nowrap;
  }
  
  .carousel-slide {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    height: 226px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .review {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .rating {
    font-size: 1.5em;
    color: gold;
    margin-bottom: 10px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }
  
  .carousel:hover .carousel-control-prev,
  .carousel:hover .carousel-control-next {
    display: block;
  }
  
  .star {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: gold;
    clip-path: polygon(
      50% 0%, 63% 38%, 100% 38%, 69% 59%, 
      82% 100%, 50% 75%, 18% 100%, 31% 59%, 
      0% 38%, 37% 38%
    );
  }
  
  @media (max-width: 768px) {

    .carousel-inner {
      flex-direction: column;
      max-height: 738px;
    }
  
    .carousel-slide {
      flex: 0 0 100%;
      width: 90%;
      margin: 10px auto;
      max-height: 250px;
    }
  }
  